.startPage {
  @apply flex items-center max-h-screen  w-screen h-screen bg-home bg-cover bg-center bg-no-repeat;
  @media screen and (width<1280px) {
    @apply flex-col items-center;
  }
  .home__content {
    @apply flex flex-col items-center mx-10;
    .text {
      @apply w-96;
      @media screen and (width<401px) {
        @apply w-72;
      }
      @media screen and (width<345px) {
        @apply w-48;
      }
      .heading {
        @apply font-lalezar text-[48px] text-center mb-3 text-white;
        @media screen and (width<401px) {
          @apply text-[32px];
        }
      }
      .paragraph {
        @apply font-Kumbh text-[20px] text-center text-start-paragraph;
        @media screen and (width<401px) {
          @apply text-[15px];
        }
      }
    }
    .btn {
      @apply m-12;
      @media screen and (width<401px) {
        @apply m-5;
      }
    }
  }
  .carousel {
    @apply w-[800px]  rotate-[25deg] ml-32;
    @media screen and (width < 1500px) {
      @apply w-[700px] ml-0;
    }
    @media screen and (width<1280px) {
      @apply rotate-0 w-[200px];
    }
  }
  .footer {
    @apply absolute bottom-0 w-screen text-white bg-footer-color flex justify-between px-10 py-3;
    @media screen and (width<1200px) {
      @apply justify-center;
    }
    .icon {
      img {
        @apply rounded-none;
      }
    }
    .devs {
      @apply flex justify-center;
      @media screen and (width<1200px) {
        @apply hidden;
      }
      img {
        @apply w-fit h-fit rounded-none;
      }

      .marquee_container {
        overflow: hidden;
        .marquee {
          animation: marquee 9s linear 0s infinite alternate;
        }
      }
      @keyframes marquee {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(100%);
        }
      }
    }
  }
}
